{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>Sudoku</title>
        <link href="{% static 'solver/styles.css' %}" rel="stylesheet">
        <link rel="icon" type="image/icon type" href="{% static 'solver/favicon.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="row">
        <div class="sidebar col-lg-2 col-md-3">
            <div id="menu">
            <h2><a href="{% url 'index' %}">Sudoku Solver</a></h2>
  
            <div>
                Generate Sudoku:
            </div>
            <div>
                <a id="generate_game" href="{% url 'play' "easy" %}">Easy</a>
                
            </div>
            <div>
                <a id="generate_game" href="{% url 'play' "medium" %}">Medium</a>
            </div>
            <div>
                <a id="generate_game" href="{% url 'play' "hard" %}">Hard</a>
            </div>
            <div>
                <br>
                <a id="custom_button" href="{% url 'custom' %}">Customize</a>
            </div>
        </div>

        </div>
        <div class="main col-lg-10 col-md-9">
        
            {% block body %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>