html {
    font-size: 16px;
}

table { 
    border-collapse: collapse; 
    font-family: Calibri, sans-serif; 
    font-size: 1.5rem;
    margin: 0 auto;
}

colgroup, tbody { 
    border: solid medium; 
}

td { 
    border: solid thin; 
    height: 2.4em; 
    width: 2.4em; 
    text-align: center; 
    padding: 0; 
    background-color: #4CAF50;
    transition: background-color 0.6s ease;
}

td:nth-child(3n) {
    border-right: solid medium; 
}
tr:nth-child(3n) td {
    border-bottom: solid medium; 
}


td:hover {
    background-color: #45a049; 
}


input {
    width: 2.5em; 
    height: 2.5em; 
    font-size: 1.2em; 
    font-family: Calibri, sans-serif; 
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: transparent;
}

.editable {
    width: 2.5em; 
    height: 2.5em; 
    font-size: 1.2em; 
    font-family: Calibri, sans-serif; 
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: transparent; 
}

td input {
    width: 100%;
    height: 100%;
}

.wrong-cell {
    background-color: #f44336 !important; /* Red color for error */
    transition: background-color 0.6s ease; /* Smooth transition for wrong cell highlight */
}

#general {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    max-width: 31.25rem;
    width: 90%;
    margin: 1.25rem auto;
    text-align: center;
}

#general p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.25rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 0.625rem;
    width: auto;
    min-width: 7.5rem;
    max-width: 100%;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-0.125rem);
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    #general {
        padding: 1rem;
    }

    #general p {
        font-size: 0.875rem;
    }

    button {
        width: 100%;
        margin: 0.5rem 0;
    }
}